.content_page {
    max-width: 1300px;
    margin: 0 auto;
}


.primeiro_menu {
    max-width: 1300px;
    margin: 0 auto;
    text-decoration: none;
    width: 100%;
    display: flex;
    margin-top: 30px;
    font-size: 1.1em;
}

.primeiro_menu_left {
    width: 33%;
    font-weight: 300;

}

.primeiro_menu_left > header > a {
    float: left;
    font-weight: 200;

}

.primeiro_menu_left_img {
    width: 20px;
    float: left;
    margin: 0 15px 0 0px;
    margin-left: 20px;

}

.primeiro_menu_right_img_busca, .primeiro_menu_right_img_conta {
    width: 20px;
    float: right;
    margin-right: 20px;
    height: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;

}


.primeiro_menu_left_menu, .primeiro_menu_left_email, .primeiro_menu_left_img, .primeiro_menu_center, .primeiro_menu_right, .primeiro_menu_right_busca, .primeiro_menu_right_noticia {
    height: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    text-decoration: none;
    color: black;
}

.primeiro_menu_left_menu {
    margin-right: 20px;

}


.primeiro_menu_left_email {
    padding-left: 20px;
    border-left: 1px solid #ebedef;

}

.primeiro_menu_left_email_img {
    width: 15px;
    padding-top: 22px;
    margin-left: 5px;
}


.primeiro_menu_center {
    width: 34%;
    background-image: linear-gradient(to right, #0098da, #3dbcea, #d2e1f3);
    -webkit-background-clip: text;
}

.primeiro_menu_center > header > a {
    display: flex;
    justify-content: center;
    margin-top: -10px;
    font-size: 1.6em;
    font-weight: 600;
    -webkit-text-fill-color: transparent;
    color: black;
}

.primeiro_menu_right {
    width: 33%;
}

.primeiro_menu_right > header > a {
    float: right;
    font-weight: 200;

}

.primeiro_menu_right_noticia {
    margin-right: 10px;
    padding-right: 20px;

}

.primeiro_menu_right_busca {
    padding-left: 20px;
    padding-right: 20px;
    border-left: 1px solid #ebedef;

}

/*iniciando segunda  menu*/
.segundo_menu {
    margin-top: 20px;
    border-top: 1px solid #ebedef;
    padding-bottom: 13px;
    border-bottom: 1px solid #ebedef;
}

.segundo_menu_content {
    max-width: calc(1300px - 20px);
    display: flex;
    margin: 0 auto;
    width: 100%;

}

.segundo_menu_content_n1, .segundo_menu_content_noticia, .segundo_menu_content_valor, .segundo_menu_content_ne, .segundo_menu_content_cartinha, .segundo_menu_content_notíciaPlay, .segundo_menu_content_ofertas, .segundo_menu_content_nShow, .segundo_menu_content_nQuem, .segundo_menu_content_nReceitas {
    display: flex;
    width: 10%;
    margin-top: 13px;
    text-decoration: none;
    color: black;
    justify-content: center;
    font-weight: 700;

}

.segundo_menu_content_n1 {
    justify-content: left;
    margin-left: 10px;
    color: #c4170c;
    padding-left: 10px;
}

.segundo_menu_content_ofertas {
    justify-content: right;
    margin-right: 10px;
    color: #0031ff;
}

.segundo_menu_content_noticia {
    color: #1e4c9a;
}

.segundo_menu_content_valor {
    color: #006767;
}

.segundo_menu_content_ne {
    color: #06aa48;
}

.segundo_menu_content_cartinha {
    color: #e3672b;
}

.segundo_menu_content_notíciaPlay {
    color: #fb0234;
}

.segundo_menu_content_nShow {
    color: #ec7d00;
}

.segundo_menu_content_nQuem {
    color: #333;
}

.segundo_menu_content_nReceitas {
    color: #a5147d;
}

/*Coluna principal*/

.noticia_principal {
    max-width: 1300px;
    width: 55%;
    margin-top: 30px;
    border-right: 1px solid #ebedef;
}

.noticia_principal_title {
    margin: 0 auto;
    padding-left: 20px;
    padding-bottom: 20px;
}

.noticia_principal_title > h1 {
    margin-top: 20px;
    font-size: 3.8em;
    color: #e10c0c;
    font-family: 'Ubuntu', sans-serif;

}

.noticia_principal_title > ul {
    margin-top: 30px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    list-style: none
}

.noticia_principal_title > ul > li {
    line-height: 1.6;
    font-size: 1.1em;

}

.noticia_principal_title > ul > li {
    margin-left: 20px;
    padding-left: 1px;
    list-style-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 10 10"><circle fill="red" cx="7" cy="7" r="2"/></svg>');

}

/* noticias recentes abaixo apos noticia principal*/
.noticias_recente {
    width: 90%;
    margin: 0 auto;
    padding-top: 20px;
    border-top: 1px solid #ebedef;
    display: flex;
}

.noticias_recente_img1 > img, .noticias_recente_img2 > img, .noticias_recente_img3 > img {
    width: 100%;
    margin: 0 auto;
    border-radius: 20px;
}

.noticias_recente_img1, .noticias_recente_img2, .noticias_recente_img3 {
    width: 30%;
    display: inline-block;
}

.noticias_recente_img1 {
    margin-right: 4%;

}

.noticias_recente_img3 {
    margin-left: 4%;

}

.noticias_recente h1 {
    text-decoration: none;
    color: #e10c0c;
    font-weight: 400;
    font-size: 1em;
    padding-top: 5px;

}

.noticias_recente h2 {
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 1em;
    padding-top: 5px;
}

.noticias_recente li {
    text-decoration: none;
    color: black;
    font-weight: 400;
    font-size: 1em;
    padding-top: 10px;

}

.noticias_recente > a > li {
    list-style-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="2 0 10 10"><circle fill="red" cx="7" cy="7" r="2"/></svg>');
    padding-bottom: 20px;
}

.noticia_nao_relevantes {
    width: 95%;
    border-top: 1px solid #ebedef;
    padding-top: 20px;
    display: flex;
}

.noticia_nao_relevantes_content1, .noticia_nao_relevantes_content2, .noticia_nao_relevantes_content3 {
    width: 35%;
    display: inline-block;
}

.noticia_nao_relevantes h2 {
    color: #e10c0c;
    font-weight: 500;
    padding-bottom: 5px;
    font-size: 1.2em;
}

.noticia_nao_relevantes h3 {
    color: black;
    font-weight: 700;
    padding-bottom: 5px;
    font-size: 1.3em;
}

.noticia_nao_relevantes_content1 {
    margin-right: 2%;
    margin-left: 20px;
}

.noticia_nao_relevantes_content3 {
    margin-left: 2%;
}