.menu_principal {
    max-width: 1300px;
    margin: 0 auto;
    text-decoration: none;

}

.primeiro_menu {
    width: 100%;
    display: flex;
    margin-top: 30px;
    font-size: 1.1em;
}

.primeiro_menu_left {
    width: 33%;
    font-weight: 300;

}

.primeiro_menu_left > header > a {
    float: left;
    font-weight: 200;

}

.primeiro_menu_left_img {
    width: 20px;
    float: left;
    margin: 0 15px 0 0px;
    margin-left: 20px;

}

.primeiro_menu_right_img_busca, .primeiro_menu_right_img_conta {
    width: 20px;
    float: right;
    margin-right: 20px;
    height: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;

}


.primeiro_menu_left_menu, .primeiro_menu_left_email, .primeiro_menu_left_img, .primeiro_menu_center, .primeiro_menu_right, .primeiro_menu_right_busca, .primeiro_menu_right_noticia {
    height: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
}

.primeiro_menu_left_menu {
    margin-right: 20px;

}


.primeiro_menu_left_email {
    padding-left: 20px;
    border-left: 1px solid #ebedef;

}

.seta_baixo {
    position: absolute;
    padding: 4.5px;
    box-shadow: 1.5px -1.5px 0 0.9px #c0bbbb inset;
    border: solid transparent;
    border-width: 45px 130px 0px 185px;
    transform: rotate(315deg);
    height: 50px;

}

.seta_baixo:hover{
    box-shadow: 1.5px -1.5px 0 0.9px #D36833 inset;
}
.primeiro_menu_center {
    width: 34%;
    background-image: linear-gradient(to right, #0098da, #3dbcea, #d2e1f3);
    -webkit-background-clip: text;
}

.primeiro_menu_center > header > a {
    display: flex;
    justify-content: center;
    margin-top: -10px;
    font-size: 1.6em;
    font-weight: 600;
    -webkit-text-fill-color: transparent;
    color: black;
}

.primeiro_menu_right {
    width: 33%;
}

.primeiro_menu_right > header > a {
    float: right;
    font-weight: 200;

}

.primeiro_menu_right_noticia {
    margin-right: 10px;
    padding-right: 20px;

}

.primeiro_menu_right_busca {
    padding-left: 20px;
    padding-right: 20px;
    border-left: 1px solid #ebedef;

}

/*iniciando segunda dobra menu*/